<div data-hook="admin_redirect_form_fields">
  <div class="row">
    <div class="col-md-12">
      <%= form.field_container :old_url, class: ['form-group'] do %>
        <%= form.label :old_url, t('old_url') %><br />
        <%= form.text_field :old_url, :class => 'text form-control' %>
        <%= form.error_message_on :old_url %>
      <% end %>

      <%= form.field_container :new_url, class: ['form-group'] do %>
        <%= form.label :new_url, t('new_url') %><br />
        <%= form.text_field :new_url, :class => 'text form-control' %>
        <%= form.error_message_on :new_url %>
      <% end %>
    </div>
  </div>
</div>
